
html, body{
    color: white;
    font-family: 'PT Serif', serif;
    margin: 0px;
    text-align: center;
}

/*ヘッダー*/
/*メニューバー*/
/*JQuery用*/
.blur {
  filter: blur(7px);
}
.delete {
  display: none;
}

.main-nav {
  width: 220px;
  position: fixed;
  top: 0;
  left: -220px;
  height: 100%;
  border-right: 2px solid $drk;
  @include transition(left .5s ease, top .5s ease);
  &.show-nav {
    left: 0;
  }
  ul {
    list-style: none;
    padding: 0;
  }

  li {
    text-align: center;
    font-size: 1.2em;
    font-weight: 700;
  }
}

.button_container {
  position: fixed;
  top: 3%;
  right: 4%;
  height: 38px;
  width: 35px;
  cursor: pointer;
  z-index: 200;
  transition: opacity 0.25s ease;
}
.button_container:hover {
  opacity: 0.4;
}
.button_container.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: white;
}
.button_container.active .middle {
  opacity: 0;
  background: white;
}
.button_container.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: white;
}
.button_container span {
  background: white;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.35s, visibility 0.35s, height 0.35s;
  overflow: hidden;
  z-index: 100;
}
.overlay.open {
  opacity: 0.9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  animation: fadeInRight 0.3s ease forwards;
  animation-delay: 0.1s;
}
.overlay.open li:nth-of-type(2) {
  animation-delay: 0.2s;
}
.overlay.open li:nth-of-type(3) {
  animation-delay: 0.3s;
}
.overlay.open li:nth-of-type(4) {
  animation-delay: 0.4s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 50px;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: white;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  transform: translateX(-50%);
  height: 3px;
  background: #001675;
  transition: 0.2s;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

/*トップ画像*/
  .top-image{
    position: relative;
    height: 750px;
    margin: 0 auto;
    background: url(img/topimage.jpg) no-repeat;
    background-size: cover;
  }
  
  .bg-mask{
    /* 背景画像の透過用css */
    height: 100%;
    background: rgba(255,255,255,0.5);
  }
  .top-image h1 {
    color:black;
    position: absolute;
    top:35%;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50px;
    font-size: 80px;
    letter-spacing: 3px;
  }


  /*自己紹介*/
.main-content{
  color: black;
  background-color: rgba(94, 90, 90, 0.452);
}
.main-title {
  font-size: 30px;
  margin-bottom: 40px;
  padding-top: 30px;
}
.profile img{
  width: 295px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}
.sub-title {
  font-size: 36px;
  padding-bottom: 25px;
  padding-top: 40px;
}
.introduction-text {
  width: 70%;
  background-color: rgba(29, 23, 23, 0.5);
  color: white;
  font-size: 18px;
  margin: 0 auto 48px auto;
  padding: 20px;
  border-radius: 15px;
}
.introduction-text-p{
 display: inline-block;
 text-align: left;
}


/*スキル紹介*/
.skill-section {
  background-image: url(img/skill-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}
.skill-title {
  color: white;
  padding-top: 30px;
}
.skill {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 15px;
}
.skill img {
  width: 200px;
  margin-right: 20px;
}
.skill img:hover{
  box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
  transform: translateY(-5px);
  transition-duration: 0.5s;
}

/* サービス紹介 */
.service-section{
  background-image: url(img/service.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 80px;
}
.service_item {
  display: inline-block;
  width: 30%;
}
.service_content{
  background-color: rgba(100, 100, 100, 0.5);
  color: white;
  font-size: 18px;
  margin: 0 auto 48px auto;
  padding: 30px 10px;
  border-radius: 15px;
}
.service-title{
  font-size: 24px;
}

/* ポートフォリオ紹介 */
.portfolio_section{
  font-size: 24px;
  padding-bottom: 50px;
  height: 100%;
  width: 100%;
  background-image: url(img/work-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.portfolio {
  display: inline-block;
  padding: 0 20px;
  position:		relative;
}
.portfolio-content {
  background-color: rgba(0, 0, 0, 0.616);
  border-radius: 15px;
  padding: 0 20px 10px;
}

.portfolio-content img:hover{
  opacity: 0.7;
}
.image {
  width: auto;
  height: 225px;
}
.portfolio-text{
  padding-top: 15px;
  font-size: 16px;
}
.lstep{
  margin-top: 50px;
 
}

/*フッター・お問い合わせ*/
footer {
  color: black;
  background-image: url("img/topimage.jpg");
  background-size: cover;
}
.contact{
  /* 背景画像の透過用css */
  height: 100%;
  background: rgba(255,255,255,0.6);
  padding-top: 80px;
}
.contact-text {
  font-size: 24px;
}
.follow-me {
  list-style: none;
  margin-top: 30px;
  color: black;
}
.follow-me li {
  display: inline-block;
  margin-right: 50px;
}

.copyright{
  font-size: 15px;
  padding-top: 50px;
}
.copyright p {
  margin: 0;
}
.icon {
  color:black;
  opacity: 0.8;
  font-size: 50px;
}
.follow-me .gmail .icon:hover {
  color: orange;
  transform: translateY(-5px);
  transition-duration: 0.5s;
}
.follow-me .line .icon:hover {
  color: #00B900;
  transform: translateY(-5px);
  transition-duration: 0.5s;
}
.follow-me .twitter .icon:hover {
  color: #1DA1F2;
  transform: translateY(-5px);
  transition-duration: 0.5s;
}
.follow-me .instagram .icon:hover {
  color:#D93177;
  transform: translateY(-5px);
  transition-duration: 0.5s;
}

/* .test{
  width: 80%;
} */

/*レスポンシブ対応*/
@media screen and (max-width:320px) {
  .portfolio img{
    width: 80%;
    height: auto;
  }
  .follow-me  {
    padding-left: 20px;
    justify-content: space-between;
  }
}
@media screen and (max-width:500px) {
  .bg-mask   h1 {
    font-size: 55px;
  }
  .service_item {
    display: inline;
    justify-content: center;
  }
  .portfolio_section{
    height: 100%;
  }
  .portfolio {
    width: 100%;
    display: inline;
    justify-content: center;
  }
  .youtube img {
    width: 100%;
  }
  .lstep img{
    width: 100%;
  }
  .follow-me {
    display: flex;
    justify-content: space-between;
  }
  .follow-me li {
    margin-right: 30px;
  }
  
}

@media screen and (max-width:890px) {
  .service_item {
    display: inline;
    justify-content: center;
  }
  .portfolio_section{
    height: 100%;
  }
  .portfolio {
    display: inline;
    justify-content: center;
  }

  .sp-br{
      display: none;
    }
  
}


@media screen and (max-width:1050px) {
   .portfolio_section{
    height: 100%;
  }
  .portfolio {
    display: inline-block;
    justify-content: center;
    margin-bottom: 30px;
  }
}

